frontend/dev-portfolio/node_modules
frontend/dev-portfolio/utils/.env.local

backend/devPortfolioBackend/.env
backend/devPortfolioBackend/*/migrations
backend/venv/
backend/devPortfolioBackend/*/__pycache__/
backend/devPortfolioBackend/media/